<div class="center-chat fadein" [hidden]="notification.showInspiration">
  <div class="container">
    <div class="row" *ngFor="let chat of chats$ | async" [class.justify-content-end]="chat.sender==dbService.user">
      <div *ngIf="chat.type!=='inspire'" class="message" [class.self]="chat.sender==dbService.user">
        {{chat.sender}} : {{chat.text}}
      </div>
      <div *ngIf="chat.type==='inspire'" class="inspire">
        <mat-icon style="cursor: pointer;" (click)="inspire(chat.text)">lock_open</mat-icon>
      </div>
    </div>
    <div>

    </div>
  </div>
  <div class="chatbox">
    <mat-form-field style="margin-top: 20px; max-width: 300px;" [style.width.px]="textBoxWidth">
      <input matInput [(ngModel)]="text" (keyup.enter)="send()">
    </mat-form-field>
    <mat-icon style="cursor: pointer;" (click)="send('')">send</mat-icon>
    <mat-icon style="cursor: pointer;" (click)="send('inspire')">lock</mat-icon>
    <!-- <mat-icon style="cursor: pointer;" (click)="logout()">exit_to_app</mat-icon> -->
    <br>
    <button mat-raised-button (click)="logout()" style="bottom: 5px">Logout</button>
  </div>
</div>

<app-inspiration [hidden]="!notification.showInspiration" [text]="inspireText"></app-inspiration>
