<div class="center-login">
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="email" autofocus>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()">
  </mat-form-field>
  <br>
  <button type="button" class="btn btn-light" (click)="login()">Login</button>
  <br>
  <br>
  <button type="button" class="btn btn-dark" (click)="signup()">Signup</button>

  <div class="guide">
    <p>Live simple</p>
  </div>
</div>
