<div class="center-login">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" [(ngModel)]="email" autofocus>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()">
  </mat-form-field>
  <br>
  <button type="button" class="btn btn-light" (click)="login()">Login</button>
  <br>
  <br>
  <button type="button" class="btn btn-dark" (click)="signup()">Signup</button>

  <div (click)="changeQuote()" class="guide" style="cursor: pointer;">
    <p>{{quote}}</p>
  </div>
</div>
